{% extends "admin/change_list.html" %}

{% block object-tools-items %}
    <li>
      <a href="{% url 'admin:export_dict' %}" style="background-color: #417690;">Скачать</a>
    </li>
    <li>
      <a href="{% url 'admin:import_dict' %}" style="background-color: #417690;">Загрузить</a>
    </li>
    <li>
      <a href="{% url 'admin:delete_dict' %}" style="background-color: #bd362f;">Удалить</a>
    </li>
    <li>
      <a href="{% url 'admin:update_links' %}" style="background-color: #417690;">Обновить ссылки</a>
    </li>
    {{ block.super }}
{% endblock %}