{% extends "dar_base.html" %}

{% block content %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'admin:index' %}">Страница администратора</a></li>
            </ul>
        </div><!--/.navbar-collapse -->
    </div>
</div>

<header>
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
            </div>
            <div class="col-xs-6 signin text-right navbar-nav">
                <a href="#contact" class="scroll">Напишите нам</a>&nbsp; &nbsp;<a href="{% url 'admin:index' %}">Страница администратора</a>
            </div>
        </div>

        <div class="row header-info">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <h1 class="wow fadeIn">Dargwa Dictionary Project</h1><br />
                <p class="lead wow fadeIn" data-wow-delay="0.5s">Сравнительная база даргинских языков и диалектов для лингвистов и носителей языка</p>
                <p class="lead wow fadeIn" data-wow-delay="0.5s">Проект выполнен при поддержке гранта РНФ №22-28-01648</p><br />
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                        <div class="row">
                            <div class="col-xs-6 text-right">
                                <a href="#about" class="btn btn-secondary btn-lg scroll">О проекте</a>
                            </div>
                            <div class="col-xs-6 text-left">
                                <a href="{% url 'dictionary:search' %}" class="btn btn-primary btn-lg">Искать в базе</a>
                            </div>
                        </div><!--End Button Row-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="about" class="pad-xl">
    <h2 class="black" align="middle">О проекте</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 wow fadeIn" data-wow-delay="0.4s">
                <hr class="line purple">
                <h3></h3>
                <p>Проект выполнен при поддержке гранта РНФ №22-28-01648</p>
            </div>
            <div class="col-sm-4 wow fadeIn" data-wow-delay="0.8s">
                <hr class="line blue">
                <h3></h3>
                <p></p>
            </div>
            <div class="col-sm-4 wow fadeIn" data-wow-delay="1.2s">
                <hr class="line yellow">
                <h3></h3>
                <p></p>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="pad-lg light-gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <i class="fa fa-envelope-o margin-40"></i>
                <h2 class="black">Напишите нам!</h2><br />
                <p class="black">Если у вас есть комментарии или вы заметили неполадки в работе базы - свяжитесь с нами!</p><br />

                <div class="form">
                    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group row">
                                {{ form }}
                                <button type="submit" formmethod="post" class="btn btn-primary btn-lg">Отправить</button>
                            </div>
                        </form>
                    </div>
                </div><!--End Form row-->
            </div>
        </div>
    </div>
</section>
</html>

{% endblock %}