{% load static %}
{% load i18n %}

{% block head %}
    <meta charset="utf-8">
    <title>DargwaDict | Dargwa Dictionary Project</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta property="og:title" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}" >
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900|Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
    <script src="{% static 'js/modernizr-2.7.1.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %}

{% block content %}
<header>
    <div class="navbar-header nav-flex-container">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        <div class="language-switcher">
            <form action="{% url 'set_language' %}" method="post" id="lang-form" class="lang-form">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ request.get_full_path }}">
                <button type="submit" name="language" value="ru" class="lang-btn {% if LANGUAGE_CODE == 'ru' %}active{% endif %}">
                    РУС
                </button>
                <span class="lang-separator">|</span>
                <button type="submit" name="language" value="en" class="lang-btn {% if LANGUAGE_CODE == 'en' %}active{% endif %}">
                    EN
                </button>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="row header-info">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <h1 class="wow fadeIn" style="font-size: 65px;">{% trans 'ДарЛинг' %}</h1><br />
                <p class="lead wow fadeIn" data-wow-delay="0.5s" style="font-size: 25px;">{% trans 'Словари языков и диалектов даргинской группы' %}</p>
                <br><br>
                <a href="{% url 'dictionary:search' %}" class="btn btn-primary btn-lg" style="padding: 23px 40px; font-size: 17px; font-weight: bolder; width: 200px; margin-right: 10px">{% trans 'Искать' %}</a>
                <a href="#about" class="btn btn-secondary btn-lg scroll" style="padding: 23px 40px; font-size: 17px; font-weight: bolder; width: 200px; margin-left: 10px">{% trans 'О проекте' %}</a>
            </div>
        </div>
    </div>
</header>

<section id="about" class="pad-xl">
    <h2 class="black" align="middle">{% trans 'ДарЛинг: Лексикографическая база данных' %}<br> {% trans 'даргинских языков' %}</h2>
    <div class="container" style="padding-right: 15px; padding-left: 15px;">
        <div class="row">
            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
                <hr class="line purple">
                <h3></h3>
                <p style="text-align: justify"><b>{% trans 'ДарЛинг' %}</b>{% trans ' – это лексикографическая база данных, содержащая лексику нескольких даргинских языков и диалектов. В базе возможен поиск лексем одного или нескольких языков по различным типам запросов – по даргинскому слову, по русскому или английскому переводу. Доступен также поиск синонимов, когнатов (слов, восходящих к одному источнику) и слов, содержащих определенные морфемы.' %}</p>
<p style="text-align: justify">{% trans 'Даргинские словоформы представлены в кириллической записи (на основе даргинской орфографии) и в транскрипции. Помимо значения слов, словарные статьи содержат грамматическую информацию (различные формы слов, модели управления глаголов, информация о грамматическом классе имен). Для всех слов приводится информация об источнике данных.' %}</p>
                <p style="text-align: justify">{% trans 'Первая версия лексикографической базы данных была создана в 2018 году. В 2022 году созданная ранее база была реорганизована. В настоящее время в базе содержится более 2000 компаративных серий, в том числе более 300 глагольных корней. Для создания и пополнения базы использованы два типа источников данных: опубликованные словари и грамматики (в том числе онлайн-ресурсы) и полевые материалы, собранные авторами и их коллегами. Для включения в базу все данные представлены в едином формате, слова разных языков и диалектов организованы в компаративные серии.' %}</p>
<p style="text-align: justify">{% trans 'В настоящее время в базе доступны словари следующих идиомов: акушинского, тантынского, ицаринского, муиринского, кадарского, мегебского и кункинского. База постепенно пополняется новыми данными. В частности, готовится лексикон урахинского и кубачинского диалектов, а также данные из «Диалектологического словаря даргинского языка» С. М. Темирбулатовой (2022).' %}</p>

            </div>
            <div class="col-sm-6 wow fadeIn" data-wow-delay="1.2s">
                <hr class="line blue">
                <h3></h3>
                <p style="text-align: justify"><b>{% trans 'Над базой работали:' %}</b>
                    <br>{% trans 'Н. Р. Сумбатова (разработка проекта базы и формата словарных статей; составление компаративных серий; сбор и представление данных)' %}
                    <br>{% trans 'Элли Сокур (программирование текущей версии базы)' %}
                    <br>{% trans 'В. А. Позднякова (разработка формата словарных статей для глаголов; программирование первой версии базы)' %}
                </p>

                <p style="text-align: justify"><b>{% trans 'Данные по отдельным идиомам:' %}</b>
                    <br>{% trans 'Акушинский: данные из словника в книге (van den Berg 2001); данные для базы подготовил А. С. Токмаков.' %}
                    <br>{% trans 'Кадарский: словарь, собранный Н. А. Вагизиевой; частично пересекается с данными в работе (Вагизиева 2018).' %}
                    <br>{% trans 'Кункинский: предварительная версия словаря была собрана в 2007 году исследовательской группой в следующем составе: Д. С. Ганенков, Н. В. Сердобольская, Н. Р. Сумбатова, В. Хуршудян. В 2022—2024 гг. Н. Р. Сумбатова и П. А. Казимова проверили и существенно дополнили словарь.' %}
                    <br>{% trans 'Ицаринский: словник из работы (Sumbatova, Mutalov 2003) и словник, собранный Р. О. Муталовым (не опубликован); данные для базы подготовили И. В. Калякин и Н. Р. Сумбатова.' %}
                    <br>{% trans 'Мегебский: словарь, собранный в экспедициях НИУ ВШЭ (Musaev, Morozova, Daniel 2020).' %}
                    <br>{% trans 'Муиринский: полевые данные, собранные в 2018—2021 году в экспедициях РГГУ; данные для базы подготовили и дополнили Н. Р. Сумбатова и И. В. Калякин.' %}
                    <br>{% trans 'Тантынский: данные из словника в работе (Сумбатова, Ландер 2014).' %}
                </p>
            </div>
        </div>
    </div>
</section>
</html>

{% block footer %}
    <div class="footer" style="font-family: 'Montserrat', sans-serif;">
        <a href="{% url 'admin:index' %}">{% trans 'Страница администратора' %}</a>
    </div>
{% endblock %}

{% endblock %}

<!-- Javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.11.0.min.js"><\/script>')</script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>