{% extends "dar_base.html" %}

{% block content %}

</script>
   <script>
    $(function() {
            $('#SearchSyn').click(function(){
            $.ajax({
              url: "/prosearch",
              data: {
                dialect_choice: "0",
                searched_word: "{{ word.word }}",
                prochoice: "2",
                pos: "0",
                method: 'ajax'
              },
              dataType: 'JSON',
              type: 'POST',
              success: function(response){
                alert('hh');
                reload();}
            });
        });
        });
    </script>

</head>



<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
          <div class="row margin-50"></div>
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <div class="col-xs-6">
                    <ul class="nav navbar-nav navbar-left">
                    <li><a href="{% url 'dictionary:start_page' %}">Главная</a></li>
                    </ul>
                </div>
                <div class="col-xs-6">
                    <ul class="nav navbar-nav navbar-left">
                    <li><a href="{% url 'dictionary:search' %}">Поиск</a></li>
                    </ul>
                </div>
            </div>
      </div>
    </div>
    </div>

    <div class="container">
   `    <div class="row pad-sm">
          <div class="col-sm-4">
        </div>
        </div>
            <div class="row">
                    <div style="text-align: center;">{{ word.idiom }}</div>
			        <div class="col-sm-5 wow fadeIn" data-wow-delay="0.4s">

				        <hr class="line purple">
                     <b> {{ word }}</b>&nbsp<i>{{ word.pos.pos }}</i>&nbsp&nbsp
                        {% if word.omonyms %}
                        <p><ol>{% for omonym in word.omonyms %}
                        <li>{{ omonym }}</li>
                        {% endfor %}
                            </ol>
                        {% else %}
                        <br><br>{{ word.meaning_rus }}
                        {% endif %}


                        {% if word.link %}
                        <a style="color:#70cbce" href=""</a> (сов. вид) / {{ word.word }} (несов. в.)
                        {% elif vid %}
                        {{ word.word }} (сов. в.) / <a style="color:#70cbce" href=""</a> (несов. в.)
                        {% else %}
                        {{ word.word }} (сов. в.)
                        {% endif %}

                        <br>
                        {% if word.meaning_eng %}
                        <br>Перевод (англ.): {{ word.meaning_eng }}
                        {% endif %}<br>

                        {% for wordform in word.wordforms.all %}
                        <br>{{ wordform.grammem }}: {{ wordform }}
                        {% endfor %}

                    </div>
                <div class="col-sm-3 wow fadeIn" data-wow-delay="0.4s">
                    <hr class="line blue">
                        {% for morpheme in word.morphemes.all %}
                            <br><a href="{% url 'dictionary:search_morphemes' word.id morpheme.id %}" class="btn btn-primary btn-lg">Другие слова, содержащие {{ morpheme }}</a>
                        {% endfor %}
                        <br>

                        <p><br><a href="{% url 'dictionary:search_synonyms' word.id %}" class="btn btn-primary btn-lg">Синонимы</a></p>

                        {% for root in word.roots.all %}
                            {% if root.morph_number %}
                                <br><a href="{% url 'dictionary:search_cognates' word.id root.morph_number.id %}" class="btn btn-primary btn-lg">Когнаты для корня {{ root }}</a>
                            {% endif %}
                        {% endfor %}
                </div>
        </div>
            </div>
    </div>
</section>
</body>

{% endblock %}